/* common css */
.txt_white {
    color: #FFFFFF;
}

.txt_active {
    color: #00aa00;
}

.txt_deactive {
    color: maroon;
}


.form-horizontal .form-group {
    margin: 0;
}
form .control-label {
    text-align: left !important;
}



.main-content .breadcrumbs_c {

}

.main-content .breadcrumbs_c h2.title_c {
    font-size: 20px;
    margin-bottom: 10px;
}

.main-content .breadcrumbs_c ul.breadcrumb {
    padding: 8px 0;
}

.main-content .menu_c {
    margin-bottom: 10px;
}

.main-content .menu_c ul {
    padding: 0;
}

.main-content .menu_c ul li {

}

.main-content .menu_c ul li a {
    color: #fff;
}

.main-content .menu_c ul li:hover {

}

.main-content .menu_c ul li a:hover {

}

.main-content .main_c {
    background: #FFFFFF;
    padding: 10px;
}

/* TABLE GRID VIEW */
#admin-grid-view {

}

#admin-grid-view .grid-view {

}

#admin-grid-view .grid-view .table {

}

#admin-grid-view .grid-view .table > thead {

}

#admin-grid-view .grid-view .table > thead > tr  {

}

#admin-grid-view .grid-view .table > thead > tr > th {
    background: url("../images/table_th_4.png") repeat-x;
    color: #337ab7;
}

#admin-grid-view .grid-view .table > thead > tr > th > a{
    color: #337ab7;
    font-size: 12px;
}

#admin-grid-view .grid-view .table > tbody {

}

#admin-grid-view .grid-view .table > tbody > tr {

}

#admin-grid-view .grid-view .table > tbody > tr > td {

}

#admin-grid-view .grid-view .table .empty {
    font-size: 13px;
    color: #777;
    font-style: italic;
    text-align: center;
}


.grid-view .summary {
    margin-bottom: 10px;
    font-style: italic;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
}

legend {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0;
    width: 35%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}
.pdr-10 {
    padding-right: 10px;
}
p#error {
    color: red;
}









