.main_content_2 {
    max-width: 1100px;
    margin: auto;
}
.list_quiz {
    border-right: 1px solid #ccc;
    padding: 0 20px;
    margin: 0;
}
.list_quiz p#title {
    font-size: 1.3em;
    color: #d4730b;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.list_quiz .list_item {

}
.list_quiz .list_item .item {
    border-bottom: 1px dashed #ccc;
    color: #009688;
    margin-left: 20px;
    text-align: left;
    padding: 15px;
}
.list_quiz .list_item .item:last-child {
    border-bottom: 0 !important;
}
.list_quiz .list_item .item .icon {
    padding-right: 10px;
}
.list_quiz .list_item .item .quiz_name {
    font-size: 1.1em;
}
.list_quiz .list_item .item .btn_view {
    float: right;
}


.list_events {
    padding: 0 20px;
}
.list_events p#title {
    font-size: 1.3em;
    color: #d4730b;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

body {
    background-image: url(/themes/default/images/bg/lg_bg.jpg);
}
.carousel-inner>.item.active {
    height: 350px;
}
.carousel-inner>.item.active img {
    width: 100%;
    height: 100%;
}
.slideshow {
    margin-bottom: 50px;
}
.intro {
    /*background-color: #91e2de;*/
    /*background-image: url("/themes/default/images/bg/lg_bg.jpg");*/
    text-align: center;
    min-height: 300px;
    padding: 20px;
}
p#tt1 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 50px;
    color: teal;
}
p#tt2 {
    font-size: 1.5em;
    font-weight: bold;
    color: teal;
}
p#ct2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    padding: 0 10px;
}
.list_events {}
.list_events .list_item {
}
.list_events .list_item .item {
    border-bottom: 1px dashed #ccc;
    color: #009688;
    margin-left: 20px;
    text-align: left;
    padding: 15px;
}
.list_events .list_item .event_name {
    font-size: 1.1em;
}
.list_events .list_item {}